
body{
    background: rgb(229, 208, 250);
    font-size: 16px;
}

.Container{
    background: hsl(0, 0%, 100%);
    width: 55%;
    margin: auto;
    border-radius: 15px;
    padding: 20px;  
    font-size: 16px;
    font-weight: 300;
}

h3, .row div{
    color: hsl(0, 100%, 67%);
}

span{
    font-size: bold;
    color: hsl(0, 0%, 4%);
    font-weight: bold;
}


















.Container div img{
    border-radius: 8px;
    width: 50%;
    height: 100%;
   object-fit: contain;

}

.flexContainer{
    margin-top: 20px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    
}

.flexContainer .row div, .flexContainer .column div {
    border-bottom: 1px solid;
}

.flexContainer div{
    border-bottom: 1px solid;
}


.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}