
body{
    background-color: #f3e3d5;
    font-size: 16px;
}

.Container{
    background: hsl(0, 0%, 100%);
    width: 55%;
    margin: auto;
    border-radius: 15px;
    padding: 20px;  
    font-size: 16px;
    font-weight: 300;
    font-family: 'Young Serif','lucida sans', sans-serif;
}

li,ol{
    padding-bottom: 10px;
}

h2{
    color: hsl(0, 90%, 33%);
}

span{
    font-size: bold;
    color: hsl(0, 0%, 4%);
    font-weight: bold;
}

hr{
    border: 0.1px solid hsl(0, 0%, 86%);
}

.Container img{
    display: block;
    border-radius: 8px;
    width: auto;
    height: auto;
    padding: 0 auto;
    max-width: 100%;
}

tr{
    padding: 10px;
    border: 1px solid rgb(4, 40, 168);
}
td{
    padding: 10px;
}

tr #color{
    color: hsl(0, 90%, 33%);
    border: 1px solid black;
}

#table{
    justify-content: space-around;
    justify-items: center;
    
}

.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px){
    .Container{
        padding: 10px;
        font-size: 12px;
    }
}
@media (min-width: 1440px){
    .Container{
        display: none;
    }
}
